.services {
  min-height: 100vh;
  padding: 30px 0;

  .container {
    max-width: 1600px;
    margin: auto;

    .row {
      display: flex;
      flex-wrap: wrap;
      .section-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;

        h1 {
          text-align: center;
          font-size: 36px;
          color: #000000;
        }
      }

      .service-items {
        flex: 0 0 100%;
        max-width: 100%;

        .item {
          padding: 15px;

          @include medium {
            flex: 0 0 43.33%;
            max-width: 43.33%;
          }
        }

        .item-inner {
          border: 1px solid #dddddd;
          padding: 30px;

          .btn {
            font-size: 16px;
            background-color: transparent;
            border: 1px solid #555555;
            color: #555555;
            padding: 8px 15px;
            cursor: pointer;
          }
        }

        .read-more-cont {
          display: none;
        }

        .item-inner h3 {
          font-size: 20px;
          color: #000000;
          margin-bottom: 30px;
          position: relative;

          &::before {
            content: "";
            height: 1px;
            width: 80px;
            background-color: #000000;
            position: absolute;
            left: 0;
            bottom: -10px;
          }
        }

        .item-inner p {
          color: #555555;
          font-size: 16px;
          margin: 0 0 30px;
        }
      }
    }
  }
}

.popup-box {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  .popup-content {
    background-color: #ffffff;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }

  .popup-header {
    padding: 15px 40px 15px 15px;
    border-bottom: 1px solid #dddddd;

    h3 {
      margin: 0;
      color: #e91e63;
      font-size: 20px;
    }

    .popup-close-icon {
      position: absolute;
      height: 30px;
      width: 30px;
      text-align: center;
      color: #555555;
      font-size: 28px;
      line-height: 30px;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }

  .popup-body {
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;

    img {
      width: 100%;
      display: block;
      margin-top: 15px;
    }

    p {
      font-size: 16px;
      color: #555555;
      margin: 0 0 15px;
    }
  }

  .popup-footer {
    padding: 15px;
    border-top: 1px solid #dddddd;
    text-align: right;

    .btn {
      padding: 8px 15px;
      border: 1px solid #555555;
      color: #555555;
      font-size: 16px;
      background-color: transparent;
      cursor: pointer;
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }
  }
}

.popup-box.open {
  visibility: visible;
  opacity: 1;
}

/*responsive*/

@media (max-width: 767px) {
  .services .service-items .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .popup-box .popup-content {
    width: calc(100% - 30px);
  }
}
