.container {
  padding: 10px;
  .navigation {
    width: 100%;

    @include medium {
      display: flex;
      align-items: center;
    }

    &::before {
      background-color: #afa4a4;
      content: "";
      display: block;
      height: 2px;
      order: 2;
      width: 100%;
    }

    .navigation_link {
      display: flex;
      align-items: center;
      margin-right: 64px;

      svg {
        display: none;

        @include medium {
          display: block;
        }
      }

      @include medium {
      }
    }

    .navigation_list {
      align-items: center;
      display: flex;
      list-style: none;
      flex-shrink: 0;
      order: 3;
      padding-top: 20px;

      @include medium {
        margin-left: 55px;
        padding-top: unset;
      }

      .navigation_list_items {
        padding-left: 11px;
        padding-right: 37px;

        a {
          color: #3f3838;
        }
      }
    }
  }

  .intro {
    .name {
      font-family: "Aladin", cursive;
      font-size: clamp(40px, 3.5vw, 64px);
      margin-left: 10px;
      padding-top: 8px;
      padding-bottom: 4px;
      color: #3f3838;
    }

    .inlink {
      font-family: "Roboto", sans-serif;
      font-size: clamp(16px, 3.5vw, 20px);
      font-weight: 100;
      margin-left: 10px;
      padding-bottom: 20px;
      color: #3f3838;
      display: flex;
      justify-content: space-between;
    }

    .myintro {
      font-size: clamp(16px, 3.5vw, 23px);
      color: #3f3838;
      margin-left: 10px;

      padding-bottom: 10px;

      @include medium {
        padding-top: 50px;
      }
    }
  }

  .resume-subhead {
    h2 {
      font-size: 25px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 10px;
      padding-top: 30px;
      padding-bottom: 15px;
    }

    .resume-groups {
      padding-left: 15px;
      padding-top: 42px;
      padding-bottom: 40px;

      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 30px;

      @include medium {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 10px;
        margin-left: 10px;
      }

      .groups {
        ul li {
          list-style: none;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          line-height: 30px;
        }

        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          padding-bottom: 15px;
        }
      }
    }

    .education,
    .achievement {
      padding-top: 40px;
      margin-left: 10px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .education_lists,
      .achievements_lists {
        display: flex;
        flex-direction: column;
        line-height: 38px;

        .year {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: bold;
          margin-right: 45px;
        }

        .education_desc,
        .achievement_desc {
          font-family: "Roboto", sans-serif;
          font-size: 19px;

          .education_desc_inst,
          .achievement_desc_inst {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 300;
            padding-right: 10px;
          }

          .ongoing {
            font-size: 12px;
            color: rgb(170, 84, 84);
          }
        }

        .fcc a {
          font-size: 15px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }

    .work {
      margin-left: 10px;
      padding-top: 40px;

      .workgroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;

        @include medium {
          display: grid;
          grid-template-columns: 1fr 1.5fr;
        }

        .workplace {
          font-family: "Roboto", sans-serif;
          font-size: 19px;
          font-weight: 400;
        }
        .workdescription {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }

    .projects {
      margin-left: 10px;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 35px;
    }

    .projectlink {
      margin-left: 10px;
      border: 1px solid rgb(94, 167, 185);
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;

      a {
        color: rgb(94, 167, 185);
        font-weight: bold;
        font-size: 18px;

        &:hover {
          color: black;
          transition: 0.5s;
        }
      }
    }
  }

  footer {
    .sociallogo svg {
      float: right;
      padding: 0 4px;
    }
  }
}

hr {
  margin-left: 16px;
  border: 1px solid #a5a5a5;
}
