// Responsive sizes
$laptop: 1450px; // laptop and large screen
$mini-laptop: 991px; // mini-laptop devices (tablets, laptop) - 992px
$medium: 767px; // Medium devices (tablets) - 768px
$small: 575px; // Small devices (mini-laptop phones) - 576px

$shadow: 0 0 10px grey;

// colors

$orange: #fea116;
$black: #666565;
$red: red;